{{ "{{" }} define "slack.cosmos.title" {{ "}}" }}
[{{ "{{" }} .Status | toUpper {{ "}}" }}{{ "{{" }} if eq .Status "firing" {{ "}}" }}:{{ "{{" }} .Alerts.Firing | len {{ "}}" }}{{ "{{" }} end {{ "}}" }}] {{ "{{" }} .CommonLabels.alertname {{ "}}" }}
{{ "{{" }} end {{ "}}" }}
{{ "{{" }} define "slack.cosmos.text" {{ "}}" }}
{{ "{{" }} range .Alerts {{ "}}" }}
*Alert:* {{ "{{" }} .Annotations.summary {{ "}}" }}
*Description:* {{ "{{" }} .Annotations.description {{ "}}" }}
*Severity:* `{{ "{{" }} .Labels.severity {{ "}}" }}`
{{ "{{" }} if .Labels.chain {{ "}}" }}*Chain:* `{{ "{{" }} .Labels.chain {{ "}}" }}`{{ "{{" }} end {{ "}}" }}
{{ "{{" }} if .Labels.instance {{ "}}" }}*Instance:* `{{ "{{" }} .Labels.instance {{ "}}" }}`{{ "{{" }} end {{ "}}" }}
{{ "{{" }} if .Labels.moniker {{ "}}" }}*Moniker:* `{{ "{{" }} .Labels.moniker {{ "}}" }}`{{ "{{" }} end {{ "}}" }}
*Started:* {{ "{{" }} .StartsAt.Format "2006-01-02 15:04:05 UTC" {{ "}}" }}
{{ "{{" }} if eq .Status "resolved" {{ "}}" }}*Resolved:* {{ "{{" }} .EndsAt.Format "2006-01-02 15:04:05 UTC" {{ "}}" }}{{ "{{" }} end {{ "}}" }}
---
{{ "{{" }} end {{ "}}" }}
{{ "{{" }} end {{ "}}" }}
{{ "{{" }} define "slack.cosmos.color" {{ "}}" }}
{{ "{{" }} if eq .Status "firing" {{ "}}" }}
{{ "{{" }} if eq (index .Alerts 0).Labels.severity "critical" {{ "}}" }}danger{{ "{{" }} else {{ "}}" }}warning{{ "{{" }} end {{ "}}" }}
{{ "{{" }} else {{ "}}" }}good{{ "{{" }} end {{ "}}" }}
{{ "{{" }} end {{ "}}" }}
{{ "{{" }} define "__alert_silence_link" {{ "}}" }}
{{ "{{" }} .ExternalURL {{ "}}" }}/
{{ "{{" }} end {{ "}}" }}
