[server]
http_port = {{ grafana_port | default(3000) }}
domain = {{ ansible_host }}
root_url = http://{{ ansible_host }}:{{ grafana_port | default(3000) }}/
[security]
admin_user = {{ grafana_admin_user | default('admin') }}
admin_password = {{ grafana_admin_password | default('admin') }}
disable_gravatar = true
[users]
allow_sign_up = false
allow_org_create = false
auto_assign_org = true
auto_assign_org_role = Viewer
[auth.anonymous]
enabled = false
[dashboards]
versions_to_keep = 20
[alerting]
enabled = true
execute_alerts = true
[unified_alerting]
enabled = true
[paths]
data = {{ grafana_data_dir }}
logs = /var/log/grafana
plugins = {{ grafana_data_dir }}/plugins
provisioning = {{ grafana_config_dir }}/provisioning
[log]
mode = console file
level = info
[log.file]
daily_rotate = true
max_days = 7
