---
- name: Reload systemd
  systemd:
    daemon_reload: yes
- name: Restart prometheus
  systemd:
    name: prometheus
    state: restarted
- name: Reload prometheus
  uri:
    url: "http://localhost:{{ prometheus_port }}/-/reload"
    method: POST
    status_code: 200
  ignore_errors: yes
